<form name="f" th:action="@{/login}" method="post">

    <div class="mb-3">
                                
        <input type="text" class="form-control" id="username" name="username" th:field="#{username}" />
        <small th:if="${#fields.haserrors('username')}" style="color:red;" th:errors="#{username}"></small>
    </div>

    <div class="mb-3">
                                
        <input type="text" class="form-control" id="password" name="isbn" th:field="#{password}" />
        <small th:if="${#fields.haserrors('password')}" style="color:red;" th:errors="#{password}"></small>
    </div>


    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        invalid username and password. 
    </div>

    <div th:if="${param.logout}" class="alert alert-success" role="alert">
        you have been logged out. 

    </div>
</form>