<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta Charset="UTF-8">
    <title> BookClub | Welcome </title>
    <!-- BootStrap Style Sheet CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootsrap@5.0.2/dist/css/bootstrap.min.css"
        rel="StyleSheet"
        integrity="SHA384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0yz1ztcQTwFspd3yD65VohhpuuC0mLASJC"
        crossorigin="anonymous">
    </head>
    <body>
        <div th:insert="~{fragments/header :: header}"></div>
        <main>
            <Section class="py-5 text-center container">
                <div Class="py-lg-5">
                    <div Class="Col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light"> Book Club </h1>
                        <p Class="lead text-muted"> 
                            Welcome to the Book Club app, your "one stop shop" for all of your Book Club needs. Below you will 
                            find a list f this month's Top 10 favorite Books. Select the book to see its detail.
                        </p>
                    </div>

                </div>
                <div Class=""Col" th:each="book : ${books}">
                    <p Class="card-text">
                        <span th:text="${book.getTitle()}"></span>
                          <br />
                          <small class="text-muted">
                          <em th:text="${book.getDescription()}"></em>
                        </small>
                    </p>

                    <div class="d-flex justify-content-between align-items-center">
                    
                    </div>
                </div>
                <div class="btn-group">
                    <a href="#" th:href="@{/{id}(id=${book.getIsbn()})}" class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="#" th:href="${book.getInfoUrl()}" class="btn btn-sm btn-outline-secondary" target="_blank">Web Link</a>
                </div>

                


            </Section>
        </main>
        <div th:insert="~{fragments/Footer :: Footer}"></div>
        <div th:insert="~{fragments/scriptFooter :: scriptFooter}"></div>
    </body>
</html>
