<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta Charset="UTF-8">
    <title> BookClub | View </title>

    class HttpClient {
        async get(url, params="" ){
            url new URL(url);
            url.search = new URLSearchParams(params).toString();

            conole.log(url.toString());

            const res = await fetch(url.toString(),{
                method: 'Get',

            });

            return res.json();

        }

    }

    <!-- BootStrap Style Sheet CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootsrap@5.0.2/dist/css/bootstrap.min.css"
        rel="StyleSheet"
        integrity="SHA384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0yz1ztcQTwFspd3yD65VohhpuuC0mLASJC"
        crossorigin="anonymous">

    <link rel="StyleSheet"
    href="http://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="SHA384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
</head>
    <body>
        <main>
            <a href="/wishlist/new" th:href="@{/wishlist/new}" class="btn btn-outline secondary text-center"> New Wishlist Item </a>
            
    </body>

    function buildTable(books) {
        let tableString = <table class="table"><tr><th>ISBN</th><th>Title</th><th>Function</th></tr>
        
            for(let book of books) {

                tableString += <tr><td>${book.isbn} </td><td>${book.title}</td><td><a href="#">Edit</a><a href="#">Delete/a> </td></tr>
            }

            tableString +=</table>

            return tableString;
    }

    const http = new HttpClient();

    http.get('http://localhost:8080/api/wishlist').then(res=>{
        console.log(res);
        Document.getElementById("wishlist").innerHTML = buildTable(res);
        }).catch(e > {
            console.Log(e);
        })   
    
    <div id="wishlist"></div>

    <div class="py-5 container" style=""width:50%>
        <h2 class="text-center">My Wishlist</h2>

        <br />

        <p class = "text-center">
            <a href="/wishlist/new" th:href="@{/wishlist/new}" class="btn btn-outline secondary text-center"> New Wishlist Item </a>
        </p>
    </div>

    <div id="wishlist"></div>
</html>
