<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <div th:fragment="footer">
            <footer class="text-muted py-5">
                <div class="container">
                    <p class="float-end mb-1">
                        <a href="#">Back to top</a>
                    </p>
                    <P>
                        &copy; 2821 - CIS 538 (Bookclub) | <a href="https://www.bellevue.edu" target="_blank"> Bellevue University</a>
                    </P>
                </div>
            </footer>
        </div>
    </body>
</html>
